{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="p-3">Se connecter</h1></br>
        <p>Entrez vos identifiants dans le formulaire qui suit :</p>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" >
                {% if errors %}
                <div class="errors">
                    {{errors.enter_email}}<br>
                    {{errors.email_incorrect}}<br>
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" >
                {% if errors %}
                <div class="errors">
                    {{errors.enter_password}}<br>
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-success">Se connecter</button>
        </form>
    </div>
</div>
{%  endblock %}
