<form method="post" class="row gy-3 justify-content-center my-5">

	<div class="col-md-4 col-sm-8 col-xs-8">
		<label for="lastname" class="form-label">Votre nom</label><br>
		<input type="text" class="form-control" name="lastname" id="lastname">
	</div>

	<div class="col-md-4 col-sm-8 col-xs-8">
		<label for="firstaname" class="form-label">Votre prénom</label><br>
		<input type="text" class="form-control" name="firstname" id="firstname">
	</div>

	<div class="col-8">
		<label for="message" class="form-label">Parlez nous de vous et de vos produits</label><br>
		<textarea name="message" class="form-control" id="description"></textarea>
	</div>

	<div class="button align-self-center" id="addbutton">
		<button type="add">Envoyer votre candidature</button>
	</div>

</form>
