{% extends 'layout.html.twig' %}

{% block content %}


	<div class="container my-5">
		<h1 class="mt-5 mx-auto rounded text-center  bg-white">NOTRE CATALOGUE</h1>
		<div class="row justify-content-center gap-5 p-0">
			{% include "Shared/_barreDeRecherche.html.twig" %}
		</div>

		<div class="row justify-content-center gap-5 p-5">
			{% for wine in wines %}
				{% include "Shared/_wine_catalog.html.twig" %}

			{% endfor %}
		</div>
	</div>
	<button class="m-3">
		<a href="/partners">Retour</a>
	</button>
	{% endblock %}
