{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container my-5">
		<h2 class="mt-5 mx-auto rounded text-center  bg-white">
			<strong>
				Notre catalogue</strong>
		</h2>
		<div class="row justify-content-center gap-5 p-5">
			{% for wine in wines %}
				{% include "Shared/_wine_catalog.html.twig" %}
			</div>
		{% endfor %}
	{% endblock %}
