{% extends "Shared/admin.html.twig" %}

{% block content %}
	<h1>Ajouter un partenaire</h1>
	{% include 'Partner/_form.html.twig' %}
	<button>
		<a href="/partners">Retour</a>
	</button>
{% endblock %}
