{% extends "Shared/admin.html.twig" %}
{% block content %}
	<h1>Modifier le partenaire
		{{ partner.firstname }}
		{{ partner.lastname }}</h1>
	{% include 'Partner/_form.html.twig' %}
</button<ahref="/partners/show?id={{partner.id}}">Retour</a></button>{% endblock %}
