<div class="container ">
	<div class="row gy-3 justify-content-center my-5 rounded">

		<div class="col-md-6 col-sm-8 col-xs-8">

			<form method="get" action="/catalog/search" class=" form-inline ">
				<input class="form-control mr-sm-2 rounded-pill " name='search' type="search" placeholder="&#128270" aria-label="Search">
				<button class="btn btn-outline-info my-2 my-sm-0 icone-loupe " type="submit">Search</button>

			</form>
		</div>
	</div>
</div>
