<div class="container ">
	<form method="post" class="row gy-3 justify-content-center my-5 rounded">

		<div class="col-md-4 col-sm-8 col-xs-8">

			<form class="form-inline ">
				<input class="form-control mr-sm-2 rounded-pill" name='search' type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-info my-2 my-sm-0 icone-loupe " type="submit icone-loupe">Search</button>

			</form>

		</div>
