<div class="card col-4 {% if product.category == 'computer' %} computerCard {% endif %}">
	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveaspectratio="xMidYMid slice" focusable="false">
		<title>Placeholder</title>
		<rect width="100%" height="100%" fill="#868e96"></rect>
		<text x="50%" y="50%" fi" dy=" .3em">Image cap</text>
	</svg>

	<div class="card-body">
		<h5 class="card-title">{{ product.name }}
			({{product.category}})</h5>
		<p class="card-text">{{ product.price }}
			€</p>
		<a href="#" class="btn btn-primary">Voir le joli produit</a>
	</div>
</div>
