body {
    color: #807165;
    margin-bottom: 120px;
}

.tableau {
    width: 9em;
    border: 1px solid #807165;
}

.table {
    font-size: 1.5em;
}
ul {
    font-size: 1.5rem;
}
h1 {
    color: #807165;
}
h3 {
    color: #807165;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #8d3939;
    text-decoration: underline;
}

label {
    padding-left: 0.9vw;
}

.img-thumbnail {
    max-width: 3.5em;
    margin: 0.6em;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.navbar > .container-fluid {
    background-color: #8d3939;
    justify-content: left;
}

.container-fluid {
    padding-left: 0em;
}

.navbar {
    padding-top: 0em;
    padding-bottom: 0px;
}

a.nav-link {
    color: #fdf2e9;
}

a.navbar-brand {
    color: #fdf2e9;
    margin-left: 0.5em;
    font-size: 1.5em;
    justify-items: start;
}

.navbar-collapse {
    justify-content: end;
}

.navbar-toggler {
    background-color: #fdf2e9;
    justify-items: end;
    margin: 1em;
}

.button.navbar-toggler {
    justify-self: left;
}

.form-control {
    background-color: #baa99b;
    height: 5vh;
    font-weight: bold;
    border-radius: 15px;
}

.form-control:focus {
    background-color: #e4c6af;
}

label {
    font-size: 1.5rem;
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: default;
}

.errors {
    color: #8d3939;
}

#description {
    height: 20vh;
}

button {
    color: white;
    background-color: #8d3939;
    margin: 1vh;
    border-radius: 30px;
    border: 0px;
    font-size: 1.5rem;
    padding: 1rem;
}

button:hover{
    text-decoration: underline;
    color: black;
}

button > a {
    color: white;
}

button > a:hover {
    color: black;
}

#connexion {
    color: black;
    padding: 0.5rem;
}

#connectionbutton {
    color: #8d3939;
    background-color: #fdf2e9;
    border-radius: 30px;
    border: 0px;
    padding: 0.5rem;
}
.btn-xl {
    font-size: xx-large;
    color: #8d3939;
}

/* css du carousel */
@font-face {
    font-family: "swap";
    src: url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
}

h3,
h4,
h5 {
    font-family: "swap";
}

.banner {
    margin-bottom: 50px;
}

.footerbar {
    background-color: #8d3939;
}

.cave {
    background: url(/assets/images/cave_vin.jpg) no-repeat fixed;
    background-size: 100% auto;
}

.banniere {
    background: url('/assets/images/vigne-split.jpg') no-repeat;
    background-size: 100% auto;
    height: 60vh;
    color: #FDF2E9;
}

@media screen and (max-width: 1300px){
    .cave{
        background: url(/assets/images/cave_vin.jpg) center/cover;
    }

    .banniere{
        background: url('/assets/images/vigne.jpg') no-repeat fixed;
        background-size: 100% auto;
        height: 50vh;
        color: #FDF2E9;

    }
}

.best-seller {
    width: 20vw;
    opacity: calc(90%);
    color: #8d3939;
}

.divCarousel {
    opacity: calc(90%);
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}
