body {
    color: #807165;
}
.table {
    width: 9em;
    border: 1px solid #807165;
}
h1 {
    color: #807165;
    justify-content: center;
    display: flex;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black; 
}
a:hover {
    color: #8D3939;
    text-decoration: underline;
  }
p {
    margin-block-start: -2em;
    margin-inline-start: -0.4em;
}